@import "tailwindcss";

@layer base {
  body {
    background-color: rgb(17 24 39);
    color: rgb(243 244 246);
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(to right, rgb(96 165 250), rgb(147 51 234));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
